In [1]:
import numpy as np 
import pandas as pd 

import datetime

from tsfresh import (extract_features, extract_relevant_features, select_features)
from tsfresh.feature_extraction import settings
from tsfresh.utilities.dataframe_functions import impute

In [2]:
train = pd.read_csv('train.csv',index_col='id')
test = pd.read_csv('test.csv',index_col='id')

In [3]:
train

,date,store_nbr,family,sales,onpromotion
id,,,,,
0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,2013-01-01,1,BABY CARE,0.000,0
2,2013-01-01,1,BEAUTY,0.000,0
3,2013-01-01,1,BEVERAGES,0.000,0
4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...
3000883,2017-08-15,9,POULTRY,438.133,0
3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,2017-08-15,9,SEAFOOD,16.000,0

In [4]:
train_16_days = train.query("date >= '2017-07-31' ")
def exp_mean_ln(df):
    return np.expm1(np.mean(np.log1p(df['sales'])))
train_average = train_16_days.groupby(['store_nbr', 'family']).apply(exp_mean_ln).to_dict()

In [11]:
train_16_days

,date,store_nbr,family,sales,onpromotion
id,,,,,
2972376,2017-07-31,1,AUTOMOTIVE,8.000,0
2972377,2017-07-31,1,BABY CARE,0.000,0
2972378,2017-07-31,1,BEAUTY,3.000,0
2972379,2017-07-31,1,BEVERAGES,2414.000,24
2972380,2017-07-31,1,BOOKS,1.000,0
...,...,...,...,...,...
3000883,2017-08-15,9,POULTRY,438.133,0
3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,2017-08-15,9,SEAFOOD,16.000,0

In [10]:
train_average

{(1, 'AUTOMOTIVE'): 4.280821316459616,
 (1, 'BABY CARE'): 0.0,
 (1, 'BEAUTY'): 3.3918733701608357,
 (1, 'BEVERAGES'): 1893.2864301263335,
 (1, 'BOOKS'): 0.04427378242741384,
 (1, 'BREAD/BAKERY'): 291.8630123910542,
 (1, 'CELEBRATION'): 7.641382799839562,
 (1, 'CLEANING'): 541.2789201201812,
 (1, 'DAIRY'): 581.9465174822476,
 (1, 'DELI'): 113.4986066863138,
 (1, 'EGGS'): 120.20387650148035,
 (1, 'FROZEN FOODS'): 114.21836140236431,
 (1, 'GROCERY I'): 2162.3437442964223,
 (1, 'GROCERY II'): 15.66027532770029,
 (1, 'HARDWARE'): 1.2279870057861473,
 (1, 'HOME AND KITCHEN I'): 21.51760994010792,
 (1, 'HOME AND KITCHEN II'): 22.331206761929582,
 (1, 'HOME APPLIANCES'): 0.07107548307291447,
 (1, 'HOME CARE'): 150.12149714547004,
 (1, 'LADIESWEAR'): 11.899024266310901,
 (1, 'LAWN AND GARDEN'): 15.671250937479225,
 (1, 'LINGERIE'): 5.756134606997616,
 (1, 'LIQUOR,WINE,BEER'): 81.92102009965444,
 (1, 'MAGAZINES'): 5.582924969261206,
 (1, 'MEATS'): 259.50500545444794,
 (1, 'PERSONAL CARE'): 146.6033504602491,
 (1, 'PET SUPPLIES'): 3.8154884354656833,
 (1, 'PLAYERS AND ELECTRONICS'): 6.435594623169765,
 (1, 'POULTRY'): 262.35013796197245,
 (1, 'PREPARED FOODS'): 54.938920558028244,
 (1, 'PRODUCE'): 2122.442991747095,
 (1, 'SCHOOL AND OFFICE SUPPLIES'): 0.0,
 (1, 'SEAFOOD'): 24.356435929886324,
 (2, 'AUTOMOTIVE'): 5.870201169613292,
 (2, 'BABY CARE'): 0.0,
 (2, 'BEAUTY'): 8.188574220238582,
 (2, 'BEVERAGES'): 2734.864587374363,
 (2, 'BOOKS'): 0.0,
 (2, 'BREAD/BAKERY'): 622.1184082473587,
 (2, 'CELEBRATION'): 9.570474806837817,
 (2, 'CLEANING'): 798.4477601483826,
 (2, 'DAIRY'): 785.1373176318126,
 (2, 'DELI'): 210.61926262534027,
 (2, 'EGGS'): 169.65243582342035,
 (2, 'FROZEN FOODS'): 99.6773398507936,
 (2, 'GROCERY I'): 3626.6039560965373,
 (2, 'GROCERY II'): 30.86347277777922,
 (2, 'HARDWARE'): 1.317262497555458,
 (2, 'HOME AND KITCHEN I'): 20.029753389248693,
 (2, 'HOME AND KITCHEN II'): 26.677696769814858,
 (2, 'HOME APPLIANCES'): 0.04427378242741384,
 (2, 'HOME CARE'): 232.02882565990757,
 (2, 'LADIESWEAR'): 19.992007187950737,
 (2, 'LAWN AND GARDEN'): 15.193088800205171,
 (2, 'LINGERIE'): 4.139547813482891,
 (2, 'LIQUOR,WINE,BEER'): 75.03405260312434,
 (2, 'MAGAZINES'): 9.456715231880567,
 (2, 'MEATS'): 458.8686331471161,
 (2, 'PERSONAL CARE'): 254.5041884709257,
 (2, 'PET SUPPLIES'): 8.015650433847822,
 (2, 'PLAYERS AND ELECTRONICS'): 8.171694135282253,
 (2, 'POULTRY'): 442.23626109154884,
 (2, 'PREPARED FOODS'): 107.64893618084372,
 (2, 'PRODUCE'): 2276.756815518055,
 (2, 'SCHOOL AND OFFICE SUPPLIES'): 0.0,
 (2, 'SEAFOOD'): 35.09329007563112,
 (3, 'AUTOMOTIVE'): 10.298571526293943,
 (3, 'BABY CARE'): 0.5975502648873519,
 (3, 'BEAUTY'): 16.53241180379904,
 (3, 'BEVERAGES'): 7813.527460710259,
 (3, 'BOOKS'): 0.0,
 (3, 'BREAD/BAKERY'): 1173.0728847154278,
 (3, 'CELEBRATION'): 31.366577676114886,
 (3, 'CLEANING'): 1892.811249077369,
 (3, 'DAIRY'): 2034.4505063355427,
 (3, 'DELI'): 353.48425857729677,
 (3, 'EGGS'): 477.691918941511,
 (3, 'FROZEN FOODS'): 338.2009351318521,
 (3, 'GROCERY I'): 7619.067529754349,
 (3, 'GROCERY II'): 79.70614671744936,
 (3, 'HARDWARE'): 2.688877663499097,
 (3, 'HOME AND KITCHEN I'): 57.77253855219237,
 (3, 'HOME AND KITCHEN II'): 55.08208782571565,
 (3, 'HOME APPLIANCES'): 0.04427378242741384,
 (3, 'HOME CARE'): 489.4627797797531,
 (3, 'LADIESWEAR'): 39.62566000271807,
 (3, 'LAWN AND GARDEN'): 50.996063753961955,
 (3, 'LINGERIE'): 23.004382144213366,
 (3, 'LIQUOR,WINE,BEER'): 201.99114831031014,
 (3, 'MAGAZINES'): 27.825353182040168,
 (3, 'MEATS'): 745.0385601002848,
 (3, 'PERSONAL CARE'): 545.0347614276895,
 (3, 'PET SUPPLIES'): 20.330186163726594,
 (3, 'PLAYERS AND ELECTRONICS'): 25.39635202606004,
 (3, 'POULTRY'): 1127.0675389329892,
 (3, 'PREPARED FOODS'): 229.66323828494183,
 (3, 'PRODUCE'): 7656.670074769708,
 (3, 'SCHOOL AND OFFICE SUPPLIES'): 0.7692284081334932,
 (3, 'SEAFOOD'): 83.61294732502753,
 (4, 'AUTOMOTIVE'): 4.394551969014828,
 (4, 'BABY CARE'): 0.4505099141396064,
 (4, 'BEAUTY'): 4.511160349694286,
 (4, 'BEVERAGES'): 2331.2890437712363,
 (4, 'BOOKS'): 0.0,
 (4, 'BREAD/BAKERY'): 350.8524884520444,
 (4, 'CELEBRATION'): 6.329104763927783,
 (4, 'CLEANING'): 751.3212205700236,
 (4, 'DAIRY'): 702.4170408881505,
 (4, 'DELI'): 183.32223131233272,
 (4, 'EGGS'): 139.33590060135003,
 (4, 'FROZEN FOODS'): 86.06715380891951,
 (4, 'GROCERY I'): 3204.695713049876,
 (4, 'GROCERY II'): 24.792356386754115,
 (4, 'HARDWARE'): 0.9357884354260577,
 (4, 'HOME AND KITCHEN I'): 15.34313737164955,
 (4, 'HOME AND KITCHEN II'): 9.545958463539385,
 (4, 'HOME APPLIANCES'): 0.04427378242741384,
 (4, 'HOME CARE'): 190.62499799617046,
 (4, 'LADIESWEAR'): 17.736611547848828,
 (4, 'LAWN AND GARDEN'): 20.756012385145713,
 (4, 'LINGERIE'): 2.30388143108035,
 (4, 'LIQUOR,WINE,BEER'): 78.69404429756769,
 (4, 'MAGAZINES'): 7.5127009782108285,
 (4, 'MEATS'): 376.12376817977815,
 (4, 'PERSONAL CARE'): 237.88028629819962,
 (4, 'PET SUPPLIES'): 5.863857131540808,
 (4, 'PLAYERS AND ELECTRONICS'): 8.326883365542727,
 (4, 'POULTRY'): 374.2764730748893,
 (4, 'PREPARED FOODS'): 53.80418900760776,
 (4, 'PRODUCE'): 2210.105159954762,
 (4, 'SCHOOL AND OFFICE SUPPLIES'): 0.04427378242741384,
 (4, 'SEAFOOD'): 24.074024129576056,
 (5, 'AUTOMOTIVE'): 6.266652664147301,
 (5, 'BABY CARE'): 0.2968395546510097,
 (5, 'BEAUTY'): 7.126156989949182,
 (5, 'BEVERAGES'): 1802.8470869796936,
 (5, 'BOOKS'): 0.0,
 (5, 'BREAD/BAKERY'): 348.4152410450366,
 (5, 'CELEBRATION'): 25.646338481790536,
 (5, 'CLEANING'): 819.0436925212917,
 (5, 'DAIRY'): 537.3364671802527,
 (5, 'DELI'): 223.15325186930892,
 (5, 'EGGS'): 82.56718554082954,
 (5, 'FROZEN FOODS'): 89.45467665253706,
 (5, 'GROCERY I'): 2932.4113331982876,
 (5, 'GROCERY II'): 35.02162418545952,
 (5, 'HARDWARE'): 1.043073092513366,
 (5, 'HOME AND KITCHEN I'): 30.447009828543592,
 (5, 'HOME AND KITCHEN II'): 18.319004199981237,
 (5, 'HOME APPLIANCES'): 0.0,
 (5, 'HOME CARE'): 192.1258586142011,
 (5, 'LADIESWEAR'): 11.962781058118232,
 (5, 'LAWN AND GARDEN'): 8.521814759361185,
 (5, 'LINGERIE'): 11.056813656655956,
 (5, 'LIQUOR,WINE,BEER'): 55.43705229828485,
 (5, 'MAGAZINES'): 7.439606458148871,
 (5, 'MEATS'): 251.49273677242385,
 (5, 'PERSONAL CARE'): 233.7808774149896,
 (5, 'PET SUPPLIES'): 2.6285702359240446,
 (5, 'PLAYERS AND ELECTRONICS'): 6.9918107196300605,
 (5, 'POULTRY'): 228.08752757118145,
 (5, 'PREPARED FOODS'): 59.42327220464123,
 (5, 'PRODUCE'): 1574.9129526244942,
 (5, 'SCHOOL AND OFFICE SUPPLIES'): 0.7377017284201022,
 (5, 'SEAFOOD'): 8.751881582358143,
 (6, 'AUTOMOTIVE'): 7.737348126816313,
 (6, 'BABY CARE'): 0.0,
 (6, 'BEAUTY'): 6.730438730709911,
 (6, 'BEVERAGES'): 3254.1476899206996,
 (6, 'BOOKS'): 0.0,
 (6, 'BREAD/BAKERY'): 532.166602363263,
 (6, 'CELEBRATION'): 11.15172498325893,
 (6, 'CLEANING'): 1129.710340470738,
 (6, 'DAIRY'): 939.2982052754419,
 (6, 'DELI'): 325.3314170206278,
 (6, 'EGGS'): 174.28314964278843,
 (6, 'FROZEN FOODS'): 144.13328964346618,
 (6, 'GROCERY I'): 4668.930152842969,
 (6, 'GROCERY II'): 35.30279468334935,
 (6, 'HARDWARE'): 0.6451747314792202,
 (6, 'HOME AND KITCHEN I'): 25.22815648808316,
 (6, 'HOME AND KITCHEN II'): 51.88260891953801,
 (6, 'HOME APPLIANCES'): 0.0,
 (6, 'HOME CARE'): 285.87187404841166,
 (6, 'LADIESWEAR'): 21.625930785417676,
 (6, 'LAWN AND GARDEN'): 16.55698273591396,
 (6, 'LINGERIE'): 9.881580905295756,
 (6, 'LIQUOR,WINE,BEER'): 78.98651245488296,
 (6, 'MAGAZINES'): 7.086059577366321,
 (6, 'MEATS'): 466.05282237606843,
 (6, 'PERSONAL CARE'): 359.9574089047242,
 (6, 'PET SUPPLIES'): 9.599010337617074,
 (6, 'PLAYERS AND ELECTRONICS'): 14.194669310284082,
 (6, 'POULTRY'): 529.3202068366494,
 (6, 'PREPARED FOODS'): 93.62405653958403,
 (6, 'PRODUCE'): 2552.1312562503563,
 (6, 'SCHOOL AND OFFICE SUPPLIES'): 0.0,
 (6, 'SEAFOOD'): 37.94568404826931,
 (7, 'AUTOMOTIVE'): 4.780030410646761,
 (7, 'BABY CARE'): 0.0,
 (7, 'BEAUTY'): 6.0162384658521555,
 (7, 'BEVERAGES'): 3656.4809119197034,
 (7, 'BOOKS'): 0.13878863475669165,
 (7, 'BREAD/BAKERY'): 608.6545111667104,
 (7, 'CELEBRATION'): 16.46976366952245,
 (7, 'CLEANING'): 975.7796017996471,
 (7, 'DAIRY'): 1213.9120077151429,
 (7, 'DELI'): 176.93826961716286,
 (7, 'EGGS'): 267.63992360779514,
 (7, 'FROZEN FOODS'): 204.30486621222295,
 (7, 'GROCERY I'): 3631.221928967701,
 (7, 'GROCERY II'): 36.21330071403161,
 (7, 'HARDWARE'): 2.5701915384133938,
 (7, 'HOME AND KITCHEN I'): 31.15647149924525,
 (7, 'HOME AND KITCHEN II'): 27.590176706365245,
 (7, 'HOME APPLIANCES'): 0.7067368368450775,
 (7, 'HOME CARE'): 231.7503137756613,
 (7, 'LADIESWEAR'): 12.303740477244945,
 (7, 'LAWN AND GARDEN'): 37.66288296541383,
 (7, 'LINGERIE'): 9.073011747339711,
 (7, 'LIQUOR,WINE,BEER'): 146.81850139720072,
 (7, 'MAGAZINES'): 11.299905542757903,
 (7, 'MEATS'): 465.3294134932897,
 (7, 'PERSONAL CARE'): 245.4221508956035,
 (7, 'PET SUPPLIES'): 7.734422003321612,
 (7, 'PLAYERS AND ELECTRONICS'): 13.894399770688318,
 (7, 'POULTRY'): 620.8145251486704,
 (7, 'PREPARED FOODS'): 123.98635721632688,
 (7, 'PRODUCE'): 4776.255345780716,
 (7, 'SCHOOL AND OFFICE SUPPLIES'): 0.3301234559744795,
 (7, 'SEAFOOD'): 41.85663783582248,
 (8, 'AUTOMOTIVE'): 3.488828925908879,
 (8, 'BABY CARE'): 0.6942189279337481,
 (8, 'BEAUTY'): 11.045385032570124,
 (8, 'BEVERAGES'): 4415.099366394873,
 (8, 'BOOKS'): 0.0,
 (8, 'BREAD/BAKERY'): 790.474323358496,
 (8, 'CELEBRATION'): 17.8341713331511,
 (8, 'CLEANING'): 1166.65507246657,
 (8, 'DAIRY'): 1374.2690042477623,
 (8, 'DELI'): 276.56035611286086,
 (8, 'EGGS'): 313.3867831162349,
 (8, 'FROZEN FOODS'): 161.63404646086977,
 (8, 'GROCERY I'): 4716.408115604605,
 (8, 'GROCERY II'): 40.07023007441585,
 (8, 'HARDWARE'): 2.584621551843887,
 (8, 'HOME AND KITCHEN I'): 35.89741373597292,
 (8, 'HOME AND KITCHEN II'): 47.427472592496,
 (8, 'HOME APPLIANCES'): 0.0,
 (8, 'HOME CARE'): 337.2501294134215,
 (8, 'LADIESWEAR'): 28.931408277290544,
 (8, 'LAWN AND GARDEN'): 32.45703170604964,
 (8, 'LINGERIE'): 20.58303504597275,
 (8, 'LIQUOR,WINE,BEER'): 135.08001535544952,
 (8, 'MAGAZINES'): 18.41559673829041,
 (8, 'MEATS'): 438.9263925637963,
 (8, 'PERSONAL CARE'): 333.6290750203907,
 (8, 'PET SUPPLIES'): 17.865720805213858,
 (8, 'PLAYERS AND ELECTRONICS'): 20.090779286655987,
 (8, 'POULTRY'): 588.7882426046041,
 (8, 'PREPARED FOODS'): 146.75679670397605,
 (8, 'PRODUCE'): 4437.634044219181,
 (8, 'SCHOOL AND OFFICE SUPPLIES'): 0.8322038111274048,
 (8, 'SEAFOOD'): 36.885553012794304,
 (9, 'AUTOMOTIVE'): 13.52595050733244,
 (9, 'BABY CARE'): 0.3064213856352312,
 (9, 'BEAUTY'): 8.610871414138355,
 (9, 'BEVERAGES'): 3622.4377216881126,
 (9, 'BOOKS'): 0.0,
 (9, 'BREAD/BAKERY'): 483.8635160195455,
 (9, 'CELEBRATION'): 13.840128538831808,
 (9, 'CLEANING'): 1803.1066841746872,
 (9, 'DAIRY'): 816.9873333621586,
 (9, 'DELI'): 565.2022592396427,
 (9, 'EGGS'): 199.79463227536968,
 (9, 'FROZEN FOODS'): 109.75110665705219,
 (9, 'GROCERY I'): 7053.563377355021,
 (9, 'GROCERY II'): 10.37996526878296,
 (9, 'HARDWARE'): 1.368839844317614,
 (9, 'HOME AND KITCHEN I'): 53.097907358881585,
 (9, 'HOME AND KITCHEN II'): 44.05068990748192,
 (9, 'HOME APPLIANCES'): 0.0,
 (9, 'HOME CARE'): 423.6916103381695,
 (9, 'LADIESWEAR'): 8.500614373397429,
 (9, 'LAWN AND GARDEN'): 4.8991244146398785,
 (9, 'LINGERIE'): 8.166024097934365,
 (9, 'LIQUOR,WINE,BEER'): 52.29881682463865,
 (9, 'MAGAZINES'): 2.635612846946512,
 (9, 'MEATS'): 368.78763929739125,
 (9, 'PERSONAL CARE'): 494.13578943117346,
 (9, 'PET SUPPLIES'): 6.912490457624122,
 (9, 'PLAYERS AND ELECTRONICS'): 7.02984281972736,
 (9, 'POULTRY'): 436.5455693523543,
 (9, 'PREPARED FOODS'): 108.17079994986914,
 (9, 'PRODUCE'): 1607.2822179321108,
 (9, 'SCHOOL AND OFFICE SUPPLIES'): 141.25442483927984,
 (9, 'SEAFOOD'): 18.164281618253636,
 (10, 'AUTOMOTIVE'): 1.3942967136982416,
 (10, 'BABY CARE'): 0.0,
 (10, 'BEAUTY'): 2.147749672273258,
 (10, 'BEVERAGES'): 1485.1321727200475,
 (10, 'BOOKS'): 0.0,
 (10, 'BREAD/BAKERY'): 104.69275597082549,
 (10, 'CELEBRATION'): 3.906094312104461,
 (10, 'CLEANING'): 826.9557900436248,
 (10, 'DAIRY'): 311.81490910936293,
 (10, 'DELI'): 268.00089251458326,
 (10, 'EGGS'): 42.90574795332848,
 (10, 'FROZEN FOODS'): 37.100063377864196,
 (10, 'GROCERY I'): 2885.7763671493344,
 (10, 'GROCERY II'): 3.659586017276469,
 (10, 'HARDWARE'): 0.4505099141396064,
 (10, 'HOME AND KITCHEN I'): 9.551252214861403,
 (10, 'HOME AND KITCHEN II'): 8.358557501827335,
 (10, 'HOME APPLIANCES'): 0.04427378242741384,
 (10, 'HOME CARE'): 173.3819603894427,
 (10, 'LADIESWEAR'): 2.6146077934752032,
 (10, 'LAWN AND GARDEN'): 0.0,
 (10, 'LINGERIE'): 1.553438171532998,
 (10, 'LIQUOR,WINE,BEER'): 11.08123300886391,
 (10, 'MAGAZINES'): 0.3542555469368927,
 (10, 'MEATS'): 196.62449409371402,
 (10, 'PERSONAL CARE'): 188.27934869983318,
 (10, 'PET SUPPLIES'): 0.5934795108449791,
 (10, 'PLAYERS AND ELECTRONICS'): 3.408907739113265,
 (10, 'POULTRY'): 145.23262791817194,
 (10, 'PREPARED FOODS'): 28.169928897456078,
 (10, 'PRODUCE'): 258.61359110300185,
 (10, 'SCHOOL AND OFFICE SUPPLIES'): 0.8722805596504295,
 (10, 'SEAFOOD'): 1.0493127181641695,
 (11, 'AUTOMOTIVE'): 7.559832527155066,
 (11, 'BABY CARE'): 0.13878863475669165,
 (11, 'BEAUTY'): 4.499506630366001,
 (11, 'BEVERAGES'): 4820.902055809044,
 (11, 'BOOKS'): 0.0,
 (11, 'BREAD/BAKERY'): 690.186900275442,
 (11, 'CELEBRATION'): 13.368485092171982,
 (11, 'CLEANING'): 2001.3263574719733,
 (11, 'DAIRY'): 661.1708246939934,
 (11, 'DELI'): 531.039058621189,
 (11, 'EGGS'): 268.73375765307173,
 (11, 'FROZEN FOODS'): 86.40120695286078,
 (11, 'GROCERY I'): 7830.585482208056,
 (11, 'GROCERY II'): 26.57905566174043,
 (11, 'HARDWARE'): 0.7377017284201022,
 (11, 'HOME AND KITCHEN I'): 22.898843348458854,
 (11, 'HOME AND KITCHEN II'): 19.707096861517886,
 (11, 'HOME APPLIANCES'): 0.09050773266525766,
 (11, 'HOME CARE'): 535.5365304006335,
 (11, 'LADIESWEAR'): 5.79769843240116,
 (11, 'LAWN AND GARDEN'): 1.764121081122128,
 (11, 'LINGERIE'): 9.526952297045286,
 (11, 'LIQUOR,WINE,BEER'): 31.85280112832517,
 (11, 'MAGAZINES'): 1.6888354036193243,
 (11, 'MEATS'): 704.3663209962248,
 (11, 'PERSONAL CARE'): 454.36956491571306,
 (11, 'PET SUPPLIES'): 2.1126393357561715,
 (11, 'PLAYERS AND ELECTRONICS'): 14.683357778865835,
 (11, 'POULTRY'): 430.3767739853328,
 (11, 'PREPARED FOODS'): 92.72234443869179,
 (11, 'PRODUCE'): 1531.3840588931914,
 (11, 'SCHOOL AND OFFICE SUPPLIES'): 20.39254328522064,
 (11, 'SEAFOOD'): 9.771617505672213,
 (12, 'AUTOMOTIVE'): 6.239714633753775,
 (12, 'BABY CARE'): 0.0,
 (12, 'BEAUTY'): 1.3190623361514984,
 (12, 'BEVERAGES'): 1622.4257555136726,
 (12, 'BOOKS'): 0.0,
 (12, 'BREAD/BAKERY'): 193.22690874671898,
 (12, 'CELEBRATION'): 9.403832561441863,
 (12, 'CLEANING'): 979.436120282355,
 (12, 'DAIRY'): 383.53414656100574,
 (12, 'DELI'): 209.70784605574212,
 (12, 'EGGS'): 59.54493536895416,
 (12, 'FROZEN FOODS'): 40.507139189558075,
 (12, 'GROCERY I'): 2857.213044259957,
 (12, 'GROCERY II'): 6.66981028347225,
 (12, 'HARDWARE'): 0.3890130524658934,
 (12, 'HOME AND KITCHEN I'): 13.82893917714774,
 (12, 'HOME AND KITCHEN II'): 20.0943655125351,
 (12, 'HOME APPLIANCES'): 0.13878863475669165,
 (12, 'HOME CARE'): 167.0793260246734,
 (12, 'LADIESWEAR'): 6.753845911261734,
 (12, 'LAWN AND GARDEN'): 0.0,
 (12, 'LINGERIE'): 4.780030410646759,
 (12, 'LIQUOR,WINE,BEER'): 29.726036020434755,
 (12, 'MAGAZINES'): 1.4217359974578803,
 (12, 'MEATS'): 148.5333259493295,
 (12, 'PERSONAL CARE'): 191.81867807020654,
 (12, 'PET SUPPLIES'): 1.3090839421939635,
 (12, 'PLAYERS AND ELECTRONICS'): 6.40955788531386,
 (12, 'POULTRY'): 153.98495392720713,
 (12, 'PREPARED FOODS'): 31.537740471993096,
 (12, 'PRODUCE'): 348.55254682581204,
 (12, 'SCHOOL AND OFFICE SUPPLIES'): 2.2764229278017662,
 (12, 'SEAFOOD'): 2.3655466311690763,
 (13, 'AUTOMOTIVE'): 4.870817376269417,
 (13, 'BABY CARE'): 0.0,
 (13, 'BEAUTY'): 3.951697387697446,
 (13, 'BEVERAGES'): 1646.61786331271,
 (13, 'BOOKS'): 0.0,
 (13, 'BREAD/BAKERY'): 116.74179210629597,
 (13, 'CELEBRATION'): 6.285846429343626,
 (13, 'CLEANING'): 837.8280773261549,
 (13, 'DAIRY'): 271.7601192103009,
 (13, 'DELI'): 162.0254454552673,
 (13, 'EGGS'): 46.38602359795756,
 (13, 'FROZEN FOODS'): 32.24608598866079,
 (13, 'GROCERY I'): 2880.2217019241007,
 (13, 'GROCERY II'): 11.29158806312011,
 (13, 'HARDWARE'): 0.04427378242741384,
 (13, 'HOME AND KITCHEN I'): 14.403651780198107,
 (13, 'HOME AND KITCHEN II'): 9.301267474505037,
 (13, 'HOME APPLIANCES'): 0.0,
 (13, 'HOME CARE'): 146.0762689037301,
 (13, 'LADIESWEAR'): 1.3284355309217966,
 (13, 'LAWN AND GARDEN'): 0.0,
 (13, 'LINGERIE'): 2.086770242331119,
 (13, 'LIQUOR,WINE,BEER'): 32.15821961015537,
 (13, 'MAGAZINES'): 0.6611016316909162,
 (13, 'MEATS'): 152.58584044112752,
 (13, 'PERSONAL CARE'): 205.02469278000677,
 (13, 'PET SUPPLIES'): 0.3890130524658934,
 (13, 'PLAYERS AND ELECTRONICS'): 5.503525535036295,
 (13, 'POULTRY'): 93.48703905612997,
 (13, 'PREPARED FOODS'): 22.09103833390088,
 (13, 'PRODUCE'): 199.3182152429447,
 (13, 'SCHOOL AND OFFICE SUPPLIES'): 1.6794178709387841,
 (13, 'SEAFOOD'): 0.9788749789218714,
 (14, 'AUTOMOTIVE'): 2.9736231084311626,
 (14, 'BABY CARE'): 0.0,
 (14, 'BEAUTY'): 1.986302872002332,
 (14, 'BEVERAGES'): 1666.0494834432095,
 (14, 'BOOKS'): 0.0,
 (14, 'BREAD/BAKERY'): 169.2586002890411,
 (14, 'CELEBRATION'): 8.453563136431407,
 (14, 'CLEANING'): 1187.2263028013986,
 (14, 'DAIRY'): 378.6018908351732,
 (14, 'DELI'): 253.21137978501437,
 (14, 'EGGS'): 32.991499450388595,
 (14, 'FROZEN FOODS'): 41.85389719301143,
 (14, 'GROCERY I'): 3048.0554857176294,
 (14, 'GROCERY II'): 3.069635161723901,
 (14, 'HARDWARE'): 0.19799369275655604,
 (14, 'HOME AND KITCHEN I'): 8.51698721111191,
 (14, 'HOME AND KITCHEN II'): 20.90565948333883,
 (14, 'HOME APPLIANCES'): 0.04427378242741384,
 (14, 'HOME CARE'): 196.12874161673682,
 (14, 'LADIESWEAR'): 0.5422108254079407,
 (14, 'LAWN AND GARDEN'): 0.0,
 (14, 'LINGERIE'): 2.650672621810894,
 (14, 'LIQUOR,WINE,BEER'): 11.884135396476294,
 (14, 'MAGAZINES'): 1.8172398959643354,
 (14, 'MEATS'): 237.91198633283213,
 (14, 'PERSONAL CARE'): 264.08638778498135,
 (14, 'PET SUPPLIES'): 0.6942189279337481,
 (14, 'PLAYERS AND ELECTRONICS'): 5.1228450372093075,
 (14, 'POULTRY'): 77.48011745960419,
 (14, 'PREPARED FOODS'): 92.87317700620437,
 (14, 'PRODUCE'): 387.948527150691,
 (14, 'SCHOOL AND OFFICE SUPPLIES'): 1.590720328159403,
 (14, 'SEAFOOD'): 4.386980350831824,
 (15, 'AUTOMOTIVE'): 4.086318442279954,
 (15, 'BABY CARE'): 0.6343767942519525,
 (15, 'BEAUTY'): 3.3240419628934923,
 (15, 'BEVERAGES'): 1729.0344325899944,
 (15, 'BOOKS'): 0.0,
 (15, 'BREAD/BAKERY'): 153.40534254115886,
 (15, 'CELEBRATION'): 2.4580078075589604,
 (15, 'CLEANING'): 924.1828712585279,
 (15, 'DAIRY'): 326.7455353812521,
 (15, 'DELI'): 250.77218447343873,
 (15, 'EGGS'): 98.97000686749801,
 (15, 'FROZEN FOODS'): 66.23898965409595,
 (15, 'GROCERY I'): 2724.0924646899507,
 (15, 'GROCERY II'): 5.084120072073793,
 (15, 'HARDWARE'): 1.0817557105394475,
 (15, 'HOME AND KITCHEN I'): 11.006887496806259,
 (15, 'HOME AND KITCHEN II'): 18.095225418176685,
 (15, 'HOME APPLIANCES'): 0.13878863475669165,
 (15, 'HOME CARE'): 220.09831263802,
 (15, 'LADIESWEAR'): 7.184984319498108,
 (15, 'LAWN AND GARDEN'): 0.0,
 (15, 'LINGERIE'): 2.6931105732164977,
 (15, 'LIQUOR,WINE,BEER'): 20.078963007461628,
 (15, 'MAGAZINES'): 1.7648907109799028,
 (15, 'MEATS'): 127.3718381191691,
 (15, 'PERSONAL CARE'): 193.08560279243116,
 (15, 'PET SUPPLIES'): 0.48773782616449035,
 (15, 'PLAYERS AND ELECTRONICS'): 4.920018551369979,
 (15, 'POULTRY'): 111.08030746389804,
 (15, 'PREPARED FOODS'): 43.93005401480073,
 (15, 'PRODUCE'): 599.6564190859044,
 (15, 'SCHOOL AND OFFICE SUPPLIES'): 1.551456432404176,
 (15, 'SEAFOOD'): 4.016300069722274,
 (16, 'AUTOMOTIVE'): 3.8629741453057393,
 (16, 'BABY CARE'): 0.21972858708996829,
 (16, 'BEAUTY'): 0.9274591812589719,
 (16, 'BEVERAGES'): 1495.4230423042552,
 (16, 'BOOKS'): 0.0,
 (16, 'BREAD/BAKERY'): 154.27411202527543,
 (16, 'CELEBRATION'): 3.9272953351354776,
 (16, 'CLEANING'): 812.1868127357466,
 (16, 'DAIRY'): 259.43587015774943,
 (16, 'DELI'): 159.6286577188504,

In [8]:
test['sales'] = test.set_index(['store_nbr', 'family']).index.map(train_average.get)

In [9]:
test

,date,store_nbr,family,onpromotion,sales
id,,,,,
3000888,2017-08-16,1,AUTOMOTIVE,0,4.280821
3000889,2017-08-16,1,BABY CARE,0,0.000000
3000890,2017-08-16,1,BEAUTY,2,3.391873
3000891,2017-08-16,1,BEVERAGES,20,1893.286430
3000892,2017-08-16,1,BOOKS,0,0.044274
...,...,...,...,...,...
3029395,2017-08-31,9,POULTRY,1,436.545569
3029396,2017-08-31,9,PREPARED FOODS,0,108.170800
3029397,2017-08-31,9,PRODUCE,1,1607.282218
3029398,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,9,141.254425
3029399,2017-08-31,9,SEAFOOD,0,18.164282

In [36]:
train_test = pd.concat([train, test], ignore_index=True)

In [37]:
#change date datatype as datetime
train_test.date = pd.to_datetime(train_test.date)

In [38]:
oil = pd.read_csv('oil.csv', parse_dates = ['date'], infer_datetime_format = True, index_col = 'date').to_period('D')

In [39]:
#filling missing data
oil = oil.interpolate(method='linear')
#the first row is still missing the value
oil.iloc[0] = oil.iloc[1]

#some days are skipped. Filling up the gap.

start_date = train_test.date.min() 
# from beggining of the train date and the end of test date
number_of_days = 1704 #1703
date_list = [(start_date + datetime.timedelta(days = day)).isoformat() for day in range(number_of_days)]

date = (pd.Series(date_list)).to_frame()
date.columns = ['date']
date.date = pd.to_datetime(date.date)
date['date_str'] = date.date.astype(str)
oil['date_str'] = oil.index.astype(str)

oil = pd.merge(date,oil,how='left',on='date_str')
oil = oil.set_index('date').dcoilwtico.interpolate(method='linear').to_frame()
oil['date_str'] = oil.index.astype(str)

In [40]:
oil

            dcoilwtico    date_str
date
2013-01-01   93.140000  2013-01-01
2013-01-02   93.140000  2013-01-02
2013-01-03   92.970000  2013-01-03
2013-01-04   93.120000  2013-01-04
2013-01-05   93.146667  2013-01-05
...                ...         ...
2017-08-27   46.816667  2017-08-27
2017-08-28   46.400000  2017-08-28
2017-08-29   46.460000  2017-08-29
2017-08-30   45.960000  2017-08-30
2017-08-31   47.260000  2017-08-31

[1704 rows x 2 columns]

In [41]:
train_test['date_str'] = train_test.date.astype(str)
train_test = pd.merge(train_test,oil,how='left',on='date_str')

In [42]:
train_test

,date,store_nbr,family,sales,onpromotion,date_str,dcoilwtico
0,2013-01-01,1,AUTOMOTIVE,0.000000,0,2013-01-01,93.14
1,2013-01-01,1,BABY CARE,0.000000,0,2013-01-01,93.14
2,2013-01-01,1,BEAUTY,0.000000,0,2013-01-01,93.14
3,2013-01-01,1,BEVERAGES,0.000000,0,2013-01-01,93.14
4,2013-01-01,1,BOOKS,0.000000,0,2013-01-01,93.14
...,...,...,...,...,...,...,...
3029395,2017-08-31,9,POULTRY,436.545569,1,2017-08-31,47.26
3029396,2017-08-31,9,PREPARED FOODS,108.170800,0,2017-08-31,47.26
3029397,2017-08-31,9,PRODUCE,1607.282218,1,2017-08-31,47.26
3029398,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,141.254425,9,2017-08-31,47.26
3029399,2017-08-31,9,SEAFOOD,18.164282,0,2017-08-31,47.26

In [43]:
#train_test = train_test.query("date >= '2016-01-01' ")
train_test = train_test.query("date >= '2017-08-01' ")

In [44]:
X = train_test.drop('sales', axis=1)
X = X.rename_axis('id').reset_index()
X = X[['id', 'date', 'onpromotion', 'dcoilwtico']]

In [45]:
X

            id       date  onpromotion  dcoilwtico
0      2974158 2017-08-01            0       49.19
1      2974159 2017-08-01            0       49.19
2      2974160 2017-08-01            0       49.19
3      2974161 2017-08-01           26       49.19
4      2974162 2017-08-01            0       49.19
...        ...        ...          ...         ...
55237  3029395 2017-08-31            1       47.26
55238  3029396 2017-08-31            0       47.26
55239  3029397 2017-08-31            1       47.26
55240  3029398 2017-08-31            9       47.26
55241  3029399 2017-08-31            0       47.26

[55242 rows x 4 columns]

In [46]:
#test_y = train_test[(train_test['date'] >= '2017-05-01')]
y = train_test['sales']

In [47]:
y

2974158       5.000000
2974159       0.000000
2974160       4.000000
2974161    2627.000000
2974162       0.000000
              ...
3029395     436.545569
3029396     108.170800
3029397    1607.282218
3029398     141.254425
3029399      18.164282
Name: sales, Length: 55242, dtype: float64

In [50]:
relevant_features = extract_relevant_features(X, y, column_id='id', column_sort='date')

Feature Extraction: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 20/20 [18:03<00:00, 54.19s/it]

(55242, 27)

In [51]:
relevant_features

,onpromotion__sum_values,onpromotion__value_count__value_0,onpromotion__range_count__max_1__min_-1,"onpromotion__fft_coefficient__attr_""abs""__coeff_0","onpromotion__fft_coefficient__attr_""real""__coeff_0","onpromotion__cwt_coefficients__coeff_0__w_20__widths_(2, 5, 10, 20)","onpromotion__cwt_coefficients__coeff_0__w_10__widths_(2, 5, 10, 20)","onpromotion__cwt_coefficients__coeff_0__w_5__widths_(2, 5, 10, 20)","onpromotion__cwt_coefficients__coeff_0__w_2__widths_(2, 5, 10, 20)",onpromotion__quantile__q_0.9,...,onpromotion__mean,onpromotion__root_mean_square,onpromotion__maximum,onpromotion__median,onpromotion__minimum,onpromotion__quantile__q_0.1,onpromotion__quantile__q_0.2,onpromotion__absolute_maximum,onpromotion__value_count__value_1,onpromotion__benford_correlation
2974158,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.295657
2974159,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.295657
2974160,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.295657
2974161,26.0,0.0,0.0,26.0,26.0,5.042434,7.131079,10.084869,15.945577,26.0,...,26.0,26.0,26.0,26.0,26.0,26.0,26.0,26.0,0.0,0.295657
2974162,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.295657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3029395,1.0,0.0,0.0,1.0,1.0,0.193940,0.274272,0.387880,0.613291,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.864123
3029396,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.295657
3029397,1.0,0.0,0.0,1.0,1.0,0.193940,0.274272,0.387880,0.613291,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.864123
3029398,9.0,0.0,0.0,9.0,9.0,1.745458,2.468450,3.490916,5.519623,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,0.0,-0.297356
3029399,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.295657

In [53]:
relevant_features.to_csv('X-more-features.csv')

In [54]:
print(list(relevant_features))

['onpromotion__sum_values', 'onpromotion__value_count__value_0', 'onpromotion__range_count__max_1__min_-1', 'onpromotion__fft_coefficient__attr_"abs"__coeff_0', 'onpromotion__fft_coefficient__attr_"real"__coeff_0', 'onpromotion__cwt_coefficients__coeff_0__w_20__widths_(2, 5, 10, 20)', 'onpromotion__cwt_coefficients__coeff_0__w_10__widths_(2, 5, 10, 20)', 'onpromotion__cwt_coefficients__coeff_0__w_5__widths_(2, 5, 10, 20)', 'onpromotion__cwt_coefficients__coeff_0__w_2__widths_(2, 5, 10, 20)', 'onpromotion__quantile__q_0.9', 'onpromotion__quantile__q_0.8', 'onpromotion__quantile__q_0.7', 'onpromotion__quantile__q_0.6', 'onpromotion__count_below__t_0', 'onpromotion__quantile__q_0.3', 'onpromotion__quantile__q_0.4', 'onpromotion__abs_energy', 'onpromotion__mean', 'onpromotion__root_mean_square', 'onpromotion__maximum', 'onpromotion__median', 'onpromotion__minimum', 'onpromotion__quantile__q_0.1', 'onpromotion__quantile__q_0.2', 'onpromotion__absolute_maximum', 'onpromotion__value_count__value_1', 'onpromotion__benford_correlation']